




/* nav style */

header nav{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    align-items: center;
}
header ul{
    display: flex;
    
}
header ul li{
    list-style: none;
    margin-left: 20px; 
}
header ul a{
    text-decoration: none;
    font-size: 22px;
    margin: 0 30px 0 0;
}
.top-bar{
    margin-right: 30px;
}
header .logo-text{
    margin-left: 50px;
}
header .logo-text h3{
    font-size: 25px;
    margin: 0;
}
header .logo-text h4{
    font-size: 20px;
    margin: 5px 0 0 0;
    color: red;

}